body  {
    margin-left: 15px;
}

input {
    margin-right: 10px;
}

select {
    width: 300px;
    margin-right: 10px;
}

#removeBtn {
    margin-right: 5px;
}

#clearBtn {
    color: red;
}

#dialogEditor {
    width: 642px;
}
